.flash
.contents
  .side
    = render 'shared/side_bar'
  .main
    .main__header
      .main__header__left
        %h2.main__header__left__name
          = @group.name
        %ul.main__header__left__members
          member:
          - @members.each do |member|
            %li.main__header__left__member
              = member.name
      = link_to edit_group_path(@group) do
        .main__header__right Edit
    .main__contents
      .main__content
        = render @messages
      .form
        =form_for [@group, @message] do |f|
          = f.text_field :content, class:  "form__message", placeholder: "type a message"
          .form__mask
            = f.label :image, class: "form__mask__image" do
              = fa_icon "image", class: "icon"
              = f.file_field :image, class: "hidden"
          = f.submit "Send", class: "form__submit"